{% extends "polls/base.html" %} {% block title %} Crear - Pregunta{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="mb-3">Crear pregunta</h1>
    </div>
  </div>
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-primary">Actualizar</button>
  </form>
  {% if messages %}
  {% for message in messages %}
  <p>{{ message }}</p>
  {% endfor %}
  {% endif %}
</div>

{% endblock %}
